@import './config/style.sass'

@tailwind base
@tailwind components
@tailwind utilities

body
  margin: 0
  /* font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

@layer base
  html
    font-family: Lato, system-ui, sans-serif

@layer components
  .page
    @apply bg-white rounded-3xl w-[var(--app-width)] h-[var(--app-height)] flex flex-col justify-between items-stretch

  .elevation-big
    box-shadow: 0px 8px 32px rgba(3, 78, 120, 0.1)

  .elevation-small
    box-shadow: 0px 6px 18px rgba(3, 78, 120, 0.15)

  .elevation-inner
    box-shadow: inset 0px 4px 10px rgba(190, 200, 216, 0.5)

  .text-app-title
    font-weight: 800
    font-size: 24px
    line-height: 32px

  .text-subtitle-bold
    font-weight: 800
    font-size: 16px
    line-height: 24px

  .text-subtitle
    font-weight: 400
    font-size: 16px
    line-height: 24px

  .text-body
    font-weight: 400
    font-size: 14px
    line-height: 20px

  .text-overline
    font-weight: 600
    font-size: 11px
    line-height: 20px
    letter-spacing: 2px
    text-transform: uppercase

  .text-title-big
    font-weight: 800
    font-size: 32px
    line-height: 40px

  .icon
    box-sizing: content-box
    width: 20px
    height: 16px
    border-radius: 8px
    padding: 8px 6px
    fill: rgba(0, 0, 0, 0.6)

  [disabled].group:hover svg
    fill: rgba(0, 0, 0, 0.6)

  [disabled]
    @apply hover:border-none

  /* :hover:not[disabled].icon, :hover:not[disabled] .icon
   fill: #00d2df
   */

  .icon-white,
  .icon-white svg
    fill: white

  .icon-black,
  .icon-black svg
    fill: black

  .icon-medium
    transform: scale(1.5)

  .gradient-cyan
    background: linear-gradient(160.35deg, #00ebc1 7.95%, #00bdc9 92.76%)

  .gradient-blue
    background: linear-gradient(160.35deg, #26c8fc 7.95%, #5e76f5 92.76%)

  .gradient-orange
    background: linear-gradient(160.35deg, #ffd875 7.95%, #f43d53 92.76%)

  .gradient-magenta
    background: linear-gradient(160.35deg, #fc6fff 7.95%, #af3df4 92.76%)

  .scrollbar
    --size: 5px
    --color: #00d2df
    --duration: 5s
    $color: #00d2df
    $opacity: 0.2

    scrollbar-width: thin
    scrollbar-color: transparent transparent
    scroll-behavior: smooth

    /* for Chrome/Edge/Safari */
    &::-webkit-scrollbar
      height: var(--size)
      width: var(--size)

    &::-webkit-scrollbar-track
      background: transparent

    &::-webkit-scrollbar-thumb
      background-color: transparent
      // -webkit-transition: background-color var(--duration)
      // transition: background-color var(--duration), height var(--duration)
      border-radius: 2px

    &:hover
      scrollbar-color: withOpacity($color, $opacity) transparent

      &::-webkit-scrollbar-thumb
        background-color: withOpacity($color, $opacity)

  [data-tooltip]
    position: relative

    &::after
      content: attr(data-tooltip)
      @apply absolute z-10 w-max pointer-events-none duration-500 border border-neutral-500 rounded-lg border-2 p-1 bg-opacity-0 opacity-0 left-0 top-14

    &:hover::after
      @apply opacity-90 bg-white
