@import './config/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
  }
}

@layer components {
  .page {
    @apply bg-white rounded-3xl w-[var(--app-width)] h-[var(--app-height)] flex flex-col justify-between items-stretch;
  }

  .elevation-big {
    @apply bg-elevation;
    box-shadow: 0px 8px 32px rgba(3, 78, 120, 0.1);
  }

  .elevation-small {
    @apply bg-elevation;
    box-shadow: 0px 6px 18px rgba(3, 78, 120, 0.15);
  }

  .elevation-inner {
    @apply bg-elevation;
    box-shadow: inset 0px 4px 10px rgba(190, 200, 216, 0.5);
  }

  .text-app-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }

  .text-subtitle-bold {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
  }

  .text-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .text-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .text-overline {
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text-title-big {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  .icon {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 6px 8px;
    fill: #00d2df;
  }

  .icon-disabled {
    fill: rgba(0, 0, 0, 0.6);
  }

  .icon-white {
    fill: white;
  }

  .icon-2x {
    transform: scale(1.5);
  }
}
